.root {
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-background-color: #f6f8fa;
}

.heading {
    -fx-font-size: 24px;
    -fx-text-fill: #333;
}

.login-button {
    -fx-background-color: #2ea44f;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.login-button:hover {
    -fx-background-color: #2c974b;
}

.message-label {
    -fx-text-fill: red;
}

.linear-gradient-horizontal {
    -fx-background-color: linear-gradient(to right, #30c5d2, #471069);
}
